.card {
    width: 275px;
    height: 80px;
    margin: 5px;
}

p {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

#primary{
    margin-left: 5px;
    margin-top: 20px;
}

#name {
    font-weight: bold;
}